.memo {
    background: #fff;
    border-bottom: 1px solid #999;
    z-index: 1;
}
.memo .inner {
    display: -webkit-flex;
    height: 100%;
    padding-top: 1rem;
    box-sizing: border-box;
}
.memo .avatar {
    -webkit-flex: none;
    width: 3rem;
    text-align: center;
}
.memo .avatar span {
    background: url('/content/images/dummy-avatar.png') no-repeat center;
    background-size: contain;
    border-radius: 100%;
    line-height: 0;
    width: 2rem;
    height: 2rem;
    display: inline-block;
}
.memo h1.text {
    max-height: 4.5rem;
    border-bottom: 1px solid #999;
    padding: 0 0.5em 0.5em 0;
    color: #000;
    margin: 0;
    overflow: hidden;
    font-size: 0.8rem;
}
.memo .content {
    height: 100%;
}
.memo .memo-article {
    height: 6.9rem;
}
.memo .memo-article h1 {
    font-size: 0.7rem;
    line-height: 1.3;
    margin: 0.5em 0.5em 0.5em 0;
    max-height: 1.7rem;
    color: #424242;
    overflow: hidden;
}
.memo .content {
    float: left;
    box-sizing: border-box;
}
.memo .image {
    float: left;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.memo p {
    font-size: 0.7rem;
    line-height: 1.4;
    margin: 0 0.5em 0.5em 0;
    max-height: 2rem;
    overflow: hidden;
    color: #a3a3a3;
}
.memo a {
    display: block;
    font-size: 0.8rem;
    line-height: 1;
    text-decoration: none;
}
