.memo {
    background: #fff;
    cursor: pointer;
}
.memo .inner {
    display: -webkit-flex;
    height: 100%;
    padding-top: 1rem;
    box-sizing: border-box;
    border-bottom: 1px solid #999;
}
.memo .avatar {
    -webkit-flex: none;
    width: 5rem;
    text-align: center;
}
.memo .avatar span {
    background: url('/content/images/dummy-avatar.png') no-repeat center;
    background-size: contain;
    border-radius: 100%;
    line-height: 0;
    width: 2.5rem;
    height: 2.5rem;
    display: inline-block;
}
.memo .meta {
    font-size: 0.7rem;
    line-height: 0.8rem;
    color: #d7d7d7;
}
.memo h1.text {
    height: 3.6rem;
    border-bottom: 1px solid #d4d4d4;
    padding: 0 0.5rem 0.5rem 0;
    color: #000;
    margin: 0;
    overflow: hidden;
    font-size: 0.8rem;
    font-weight: normal;
    line-height: 1.6;
}
.memo .content {
    overflow: hidden;
}
.memo .article {
    height: 125px;
}
.memo .article h1 {
    font-size: 0.6rem;
    font-weight: normal;
    line-height: 1.46;
    margin: 0.4rem 0.5rem 0.2rem 0;
    height: 2.63rem;
    color: #000;
    overflow: hidden;
}
.memo .article .content {
    float: left;
    box-sizing: border-box;
    padding-top: 0;
}
.memo .image {
    float: left;
    height: 100%;
    background: no-repeat center #f0f1f2;
    background-size: cover;
}
.memo p {
    font-size: 0.55rem;
    line-height: 1.54;
    margin: 0 0.5rem 0.5rem 0;
    height: 2.3rem;
    overflow: hidden;
    color: #bebebe;
}
.memo a {
    display: inline-block;
    font-size: 0.55rem;
    line-height: 1.42;
    text-decoration: none;
    color: #bebebe;
}
