<h2>1) Imprint<h2>

    <p></p>

/imprint
Meta Title: kiipost - imprint
Meta Robots: noindex, follow

Kiipost
Tieckstraße 21
10115 Berlin

Contact:
Telephone: +49-1578-8056744
Email: hello@kiipost.com

Responsible for kiipost:
Philippe Brule, Oleg Slobodskoi and Raoul Schreck


2) Privacy Policy

/privacy
Meta Title: kiipost - Privacy Policy
Meta Robots: noindex, follow

We, kiipost (operated by Philippe Brule, Oleg Slobodskoi and Raoul Schreck, Tieckstraße 21, 10115 Berlin, Germany), regard the protection and the confidentiality of your data as very important. We collect and use your personal data in accordance with the relevant provisions of German data protection legislation. In this Privacy Policy, we would like to tell you which personal data we collect and what we use it for.

This Privacy Policy does not apply to the practices of any third-party services such as Facebook or Twitter that you elect to access through the Platform.
We encourage you to carefully review the privacy policies of any Supported Platforms or Third-Party Apps you access via the Services.

Below, kiipost tells you about the type and extent of and the purposes for which personal data are collected and used. You can call up this information on our website anytime.

Controller
The controller within the meaning of German data protection laws is:

Philippe Brule / Oleg Slobodskoi / Raoul Schreck
Tieckstr. 21
D-10115 Berlin (Mitte)

If you have any questions or concerns about data protection, you are welcome to also contact us by email at this address: hello@kiipost.com

Subject of Data Protection
The subject of data protection is personal data. According to Section 3, Subsection 1 of the German Federal Data Protection Act ("Bundesdatenschutzgesetz"), these are individual details on personal or objective circumstances of a certain person or certain persons. These include details such as your name, your postal address, your email address, your telephone number or, where appropriate, even use-data.

Collection and Use of Data

Automated Data Collection
When you access kiipost websites, your internet browser automatically transmits data for technical reasons. The following data are stored separately from other data that you may have sent us:

your date and time of access,
your browser-type and version,
the operating system you use,
the URL of the website you have previously visited,
the quantity of data transmitted.
For technical reasons these data are stored and are not assigned to any identifiable person at any time.

Data gathered via the Twitter API
When you login to kiipost websites or the app with Twitter we will automatically collect data provided by Twitter. This includes:

- your tweets
- your tweets marked as favorites
- your screen-name
- you name
- your twitter id
- your location

Data Entered by Users
You can use the kiipost product both with and without registering. However, you can only access kiipost using certain terminals such as an iPhone, iPod, iPad, Windows, Mac or Android and without additional functions. In order to make use of all its advantages, you have to register. To do this, you must enter your email address and select a password. Another option is to login via Facebook or Twitter. We require this data in order to guarantee that you are able to make full use of our entire offer. We need these and possibly other data in order to respond to your wishes, questions and criticism.

In future, we plan to introduce an option which will allow you to design your account personally. For example, you will be able to add a photo, choose a username and set up a connection to your Facebook user account. You will not be obliged to design your account personally; this will be entirely voluntary.

The central function of kiipost product is saving your links and receiving related links. You will be able to use this product both online and offline.

Where kiipost is used solely offline, the data you enter will be stored de-centrally on your storage medium. In such a case, we will not be able to access these data.

If you use kiipost in combination with a registered account, all data entered and and links you saved will be integrated into a database. The purpose of this database is to allow you to use kiipost at various different levels and call up your links anywhere and at any time.

We use personal data in order to enable secure, effective and user-related use of kiipost services, including for:

calling up the your links via the internet;
anonymously analysing statistics for press releases by kiipost and for studies;
recommending kiipost by using the "Invite" function for friends and acquaintances (email address).

Transfer of Data
We will not transfer your data to third parties as a matter of course without letting you know in advance or asking for your prior permission. We may only transfer your data to third parties without informing you separately beforehand in the following exceptional cases as explained below:

If required for investigating the illegal use of kiipost or for legal proceedings, personal data will be transferred to the criminal investigation authorities and, if appropriate, to injured third parties. We will only do this if there are concrete indications of illegal and/or abusive behaviour. We can only transfer on your personal data if this is used to enforce General Terms and Conditions of Business or other agreements. We are also legally obliged to give certain public authorities information. These are criminal investigation authorities, public authorities which prosecute administrative offences entailing fines and the German finance authorities.
Occasionally we depend on contractually affiliated external companies and external service providers to supply services such as the supply of advertising measures (only if you have given your explicit prior consent), processing payments (PayPal, credit card etc.), storing your data and customer service. In such cases, information is transferred to these companies or individuals in order to enable them to process this information further. We carefully select these external service providers and review them regularly to ensure that your privacy is preserved. The service providers may only use the data for the purposes stipulated by us. We also contractually require the service providers to treat your data solely in accordance with this Privacy Policy and the German data protection laws.

In order to further develop our business, we may alter the corporate structure of kiipost by changing its legal form. We may also form, sell or buy subsidiaries, divisions or parts of the company. In such transactions, customer information together with the part of the company to be transferred will be passed on. Every time personal data are transferred to third parties to the extent prescribed, kiipost will ensure that this is done in accordance with this Privacy Policy and the relevant data protection laws.

Newsletter
kiipost provides a newsletter service free of charge. We use the newsletter to inform you about new products and send you general information about kiipost. We need your email address in order to send you the newsletter. You can enter your email address on kiipost's start page, which is available at http://kiipost.com. We will store and use your email address solely to send you the newsletter.

Of course you can unsubscribe the newsletter at any time. Every newsletter contains the information on how you can unsubscribe the newsletter with effect for the future.

Cookies

kiipost stores so-called "cookies" in order to be able to offer you a comprehensive range of functions and to make it easier to use our websites. "Cookies" are small files which are stored on your computer with the help of the internet browser. If you do not want to use "cookies", you can prevent "cookies" from being stored on your computer using the corresponding settings on your internet browser. Please note that this may restrict the functional capability and the range of functions of our offer.

Social Media

The App may make third-party social-media features (twitter, facebook) available to its users. We cannot ensure the security of any information you choose to make public in a social-media feature. Also, we cannot ensure that parties who have access to such publicly available information will respect your privacy. Please exercise caution when deciding to disclose personal information in these areas.

Links to other websites

Our Services contains links to other websites and online services.  If you choose to visit a third party service or an advertiser by “clicking on” a third party link, you will be directed to that third party’s website or online service.  The fact that we link to a website, content or present a banner ad or other type of advertisement is not an endorsement, authorization or representation of our affiliation with that third party, nor is it an endorsement of their privacy or information security policies or practices.  Other websites and services follow different rules regarding the use or disclosure of the personal information you submit to them.  We encourage you to read the privacy policies or statements of the other websites and services you use.  We do not exercise control over third party websites or services.

Changing or Deleting Your Account

You may email us at hello@kiipost.com with a request that we delete your kiipost Account.  Accounts are terminated promptly and, absent extenuating circumstances, we will honor your request and delete your account information in no more than 45 days.  We may retain an archived copy of your records as required by law or as necessary for the protection of the rights of kiipost or its users.

For instructions on changing any of your privacy preferences, accessing your information, updating your information or for any privacy or data-protection-related questions, please write to hello@kiipost.com.

Phishing

Identity theft and the practice currently known as “phishing” are of great concern to kiipost.  Safeguarding information to help protect you from identity theft is a top priority.  We do not and will not, at any time, request your credit card information, your account ID, login password or national identification numbers in a non-secure or unsolicited e-mail or telephone communication.

Location Information

We may use your location information to allow you to geographically encode your tweets so Twitter users know where you are tweeting from and display to you other kiipost users nearby.

You may at any time opt-out from further allowing us to have access to your location data by;

turning off location services for kiipost from the Location Services setting in Settings on your iPhone or iPad;
deactivating the Location setting in Settings on your Android device;
deleting the application from your device.


Analysis of kiipost

Statistical Data
When kiipost is used, we collect statistical data which can be traced to you. We use it to improve kiipost.

Google Analytics
kiipost uses Google Analytics, a web analysis service of Google Inc. ("Google"). Google Analytics uses so-called "cookies", text files which are stored on your computer and which enable you to analyse your use of kiipost. The information generated by the cookie on your use of kiipost (including your abbreviated IP address) is transmitted to a Google server in the USA and are stored there. Google will use this information to assess your use of kiipost, to compile reports on the activities for us and to provide more services connected with use of kiipost and the internet. It is also possible that Google may transmit this information to third parties if this is prescribed by law or if third parties process this information on behalf of Google.

You can deactivate Google Analytics by means of a browser add-on if you do not want kiipost analysis. You can download this here: http://tools.google.com/dlpage/gaoptout?hl=de.


3) Terms & Conditions

/terms-conditions
Meta Title: kiipost - Terms & Conditions
Meta Robots: noindex, follow

Terms and Conditions of Use of kiipost

We, kiipost (operated by Philippe Brule, Oleg Slobodskoi and Raoul Schreck, Tieckstraße 21, 10115 Berlin, Germany - hereinafter "kiipost" and "we"), have developed the application "kiipost" (hereinafter "kiipost") which can be downloaded at kiipost.com and other domains or used online. kiipost is a tool to save links, organize them and receive related links to the links you have saved.

1
Scope: Who and What Do These Conditions Apply to?

1.1
These Terms and Conditions of Use apply to your use of kiipost with all content, functions, services and rules for the contractual relationship between you and us. General Terms and Conditions of Business of you will only become part of this agreement if we have explicitly agreed this in writing with each other.

1.2

We can agree additional Terms and Conditions of Use in respect of certain applications within kiipost with you. However, we will inform you of such additional Terms and Conditions of Use in good time before you use them.

1.3
We reserve the right to offer additional services. These Terms and Conditions of Use are aimed at both end-customers and companies. End-customers are natural persons who conclude legal transactions for a purpose which can be ascribed neither to their commercial nor self-employed professional activities. Businessmen are either natural persons, legal entities or legally capable partnerships which exercise their commercial or self-employed professional activities when concluding a legal transaction.

2
Purpose of the Agreement: Scope of kiipost's Offer

2.1
The purpose of this agreement is the use for a charge or use free of charge of the kiipost applications, which can be retrieved via kiipost.com as a web application or via desktop applications and corresponding mobile applications (hereinafter collectively: "apps"). All data are stored in the Cloud and can thus always be retrieved by various types of terminals or a web application. The form in which and on which terminals you can use kiipost can be seen at kiipost.com. kiipost provides the following for the use of various different applications:

Each user has his own profile, which he can design personally by using a picture.
Each user-profile contains some tools, features and collections which are pre-installed. You can use these collections, start additional collections of your own and invite other users to do the same. As the administrator, you are responsible for the collections you have started and are free to decide whom you want to invite. You can use our pre-defined design and modify the design the suit your individual taste.
You can also be invited to collections started by other users or providers; however, this is not an automatic entitlement. Administrators are free to decide whom they invite to their collections. You are not entitled to be invited to external collections.
When you have logged on via your Facebook, Google or Twitter account, you can invite people who have not yet registered to kiipost via your friends' list.
By entering the email addresses of unregistered persons, you can invite them to kiipost.

2.2
We offer you an application which enables users to independently link up with each other. To do this we provide the technical requirements in the form of the applications. We are not involved in the link-ups or communication ourselves.

2.3
In future, external development partners will be able to offer applications/features via kiipost which you can integrate into your kiipost profile. The price of these applications/features will be determined solely by the development partner. You will enter into the agreement for use for these applications/features solely with the development partner.

2.4
kiipost will be available to you for use ("system uptime") 24 hours a day, 365 days a year with a minimum 90% average availability for the year (hereinafter "SLA"). If maintenance work is necessary and if kiipost is not available for maintenance reasons, we will inform you of this in good time as far as possible. Disruptions to kiipost for maintenance reasons will not be counted as part of SLA time. We will not be responsible for internet/network-related downtime and, in particular, for downtime in which kiipost cannot be accessed due to technical or other problems outside our area of influence, e.g. Acts of God, fault of third parties.

3
Registration, Concluding Contracts, Use of kiipost: Rights and Responsibilities

3.1
Downloading kiipost

3.1.1
You can download kiipost as a web app or a desktop app or as a mobile app for various terminals in each app store.

3.2
Registration, Conclusion of a Contract

3.2.1
You can test kiipost without registering. However, the test accounts may be restricted in terms of time and the range of functions.

3.2.2
To be able to use all the functions of kiipost, you will need to register.

3.2.3
We offer you various registration options. You can decide for yourself which of these options you would like to log on with.

3.2.4
To register with kiipost you must supply the required data truthfully and fully if these are not designated as voluntary details. You must give yourself a user-name and an email address at which we can contact you. After you have registered, we will send you confirmation of your registration via email together with these T&Cs. The registration process will not be completed until you have received this email ("Conclusion of Registration").

3.3
Concluding the Agreement

3.3.1
Web App and Desktop App
In the case of the web app and the desktop app, the full completion of the registration process means that you have concluded an agreement for use with us.

3.3.2
Mobile Apps
In the case of the mobile apps, you conclude an agreement for use with us when you click on the "Install" button on the product description page of the relevant app store and, where required, you enter your password.

3.3.3
There is no entitlement to conclude an agreement for use. We can decline to accept your registration at any time without giving reasons. In this case, we will of course delete all information and data given by you.

3.4
You may use all free features kiipost free of charge. Use exceeding these features may incur charges if you become a "PRO" user. The PRO membership might be introduced at some point and you will be separately informed about this.

3.5
You are personally responsible for keeping your password confidential. That means that you must keep your password for accessing kiipost confidential, not give it to anyone else, not permit or enable third parties to gain knowledge of it and take the necessary steps to guarantee confidentiality. If these details are lost or misused or if you suspect that they have been lost or misused, you are obliged to notify us of this immediately via email at: hello@kiipost.com.

3.6
Rules for Using kiipost

3.6.1
When using kiipost you must observe all the relevant laws and other legal provisions of the Federal Republic of Germany. In particular, you may not enter and/or disseminate any data or content such as texts, images, graphics or links that breach the law or external industrial rights, copyright or other rights of third parties. You yourself are responsible for the data and content you provide. We examine the content neither for its correctness, nor lack of viruses nor to determine whether it is technically possible to examine it for viruses.

3.6.2
You have the option of uploading a profile photo and – as required – other content in your profile. Before you upload every photo, you are obliged to ensure that you are owner of the exclusive usage rights concerning the photo and that public access to the picture or other content do not breach the law, moral standards and/or the rights of third parties.

3.6.3
You may not upload any links depicting violence or with pornographic, discriminatory, insulting, racist, slanderous or other illegal content or performances and/or make these latter publicly accessible. Pictures or photos with other people than you may only be fed into kiipost if you have the consent of these people.

3.6.4
You and we can delete or replace photos or other pictures at any time. In particular, we are entitled to remove pictures or links, including without prior warning if and when there is good reason to believe that publishing them on kiipost breaches the law, moral standards and/or the rights of third parties.

3.6.5
Content and texts posted on kiipost may not be copied, disseminated or made publicly accessible in any other way without the consent of the owner of the rights unless this is permitted by law.

3.6.6
Acts of harassment such as sending chain letters or communications of a salacious or a sexual nature are not permitted.

3.6.7
It is forbidden to interfere with the functional capacity of kiipost such as sending mass emails (spam), carry out hacking attempts, brute-force attacks, use or send spy software, viruses or worms.

3.6.8
If you breach these rules, we will be entitled to issue you with a warning, temporarily block your use of kiipost or, if appropriate, to fully exclude you from its use. We are entitled to remove illegal content immediately.


3.7
Indemnification

3.7.1
You will indemnify us from all claims, including damages claims, asserted against us by other users or other third parties, including public authorities, due to breaches of their rights due to content placed on kiipost. Further, you will indemnify us from all claims, including damages claims, asserted against us by other users or other third parties, including public authorities, us due to breaches of their rights as a result of your use of kiipost. You will bear all appropriate costs, including the costs incurred for legal defence due to your breach of the rights of third parties. All further rights and damages claims of ours will remain unaffected. You are entitled to provide evidence that we have in fact incurred lower costs.

3.7.2
The above-mentioned obligations will only apply if you are responsible for the breach of rights in question, in other words, if you have knowingly or deliberately omitted to exercise due diligence.

3.8
Data Backup
You will take the necessary measures to regularly back up the data and content you entered, uploaded and stored on kiipost and appropriate to the level of risk and prepare your own backup copies in order to guarantee reconstruction of the data and content in case of the loss of the data and information.

3.9
Identity of Users
We are technically not able to determine definitively whether a user registered on kiipost actually has the identity he claims to have. We cannot therefore accept any guarantee of the correct identity of the users.

4
Instruction on Revocation

4.1
Instruction on Revocation for EU Consumers

Due to their inherent nature, the applications are not suitable for return, so that, in accordance with Section 312(d), Subsection 4, No. 1 of the German Civil Code, there is no right of revocation.

With regard to the agreement on the use of this service, you have, if you are a consumer with your normal place of abode or residence in the European Union, a legal right to revoke this agreement in accordance with the following instruction:

Right of Revocation
You can revoke your willingness to enter into this agreement within 14 days without giving any reasons in text form (e.g. letter, fax, e-mail). The time limit begins after receipt of this instruction in text form, but not before the agreement has been formed or prior to fulfilling our information obligations in accordance with Article 246 § 2 in conjunction with § 1 (1) and (2) of the Introductory Law of the German Civil Code [Einführungsgesetz zum Bürgerlichen Gesetzbuch, EGBGB] or prior to fulfilling our obligations in accordance with § 312g (1), sentence 1 of the German Civil Code [Bürgerliches Gesetzbuch, BGB] in conjunction with Article 246 § 3 EGBGB. To comply with the revocation period it is sufficient to send the revocation in a timely fashion. The revocation must be sent to:

kiipost (operated by Philippe Brule, Oleg Slobodskoi and Raoul Schreck)
Tieckstr. 21
10115 Berlin
hello@kiipost.com

Consequences of Revocation
In case of an effective revocation, any services received by the two parties need to be refunded and any benefits derived (e.g. interest) must be returned. You must pay compensation to us to the extent that you have received services and benefits (e.g. usage advantages) but cannot refund or return them or can refund or return them only in part or only in a deteriorated condition. This may cause you to fulfill your contractual payment obligations for the period up to the revocation nonetheless. Any obligations to reimburse payments must be met within 30 days. The time limit begins for you when you send your revocation notice and for us upon its receipt.

Special Notes
Your right of revocation expires prematurely if the agreement is fully fulfilled by both sides on your specific request before you have exercised your right of revocation.

End of Instruction on the Right of Revocation


4.2
The above right of revocation does not apply to companies or end-customers who have their habitual residence or domicile outside the European Union.

5
Responsibility for Content

5.1
We accept no responsibility of any kind for the texts, content, images, data and/or information or for content on linked external websites entered or provided by you or other kiipost users. In particular, we give no guarantee that this content is true, fulfils any particular purpose or can serve any particular purpose

5.2
If you notice or suspect any illegal or non-contractual use of kiipost, you can report this to us at any time via this email address:hello@kiipost.com.

6
PRO Accounts
Certain functions might only become accessible to users who have registered as PRO users and who pay for PRO Accounts. The PRO membership might be introduced at some point and you will be informed about this.

7
Free Use of kiipost

7.1.1
The agreement on free use of the kiipost apps is concluded for an indefinite period.

7.1.2
You can terminate the agreement at any time by selecting the "delete your account" option in the account settings, thereby deleting your account. On termination, unsecured data will be lost as we will delete your account completely. We will inform you of this again separately before we delete your account.

7.1.3
We can terminate this agreement in writing with a notice period of two (2) weeks (email will be sufficient).


7.2
In addition, the agreement may be terminated for just cause. Just cause which would entitle kiipost to terminate the agreement will be if you breach your contractual obligations, in particular the rules of use described in No. 3.6 of kiipost or if you are delayed with your payment obligations in accordance with No. 6.2.1.


8
Liability for Defects

8.1
We are only liable for defects in kiipost in accordance with No. 8 provided the impairments are not due to the restrictions in availability (SLA) described fully No. 2.4.

8.2
A defect will always be deemed to exist if the suitability for contractual use is suspended or considerably restricted. If suitability for contractual use is suspended in full, you will be released from paying your charges in accordance with No. 6 until the defect is corrected. If use is partially available, the charges will be reduced to an appropriate level for the period until the defect is corrected.

8.3
You are obliged to inform us in writing or by email immediately of the occurring defect

8.4
You are not entitled to damages due to a defect to kiipost existing when you sign the agreement or occurring thereafter or due to a circumstance for which we are not responsible.

8.5
Further claims and rights and claims and rights other than those explicitly named in No. 8 due to defects to kiipost will not be recognised if we are not liable to further compulsory legislative provisions.

9
Liability

9.1
Free Use of kiipost
Our liability for use of the free sections of von kiipost is restricted to intention and gross negligence or the absence of a guaranteed characteristic. We will be fully liable in cases of intention; in cases of gross negligence and the absence of a guaranteed characteristic, our liability will be restricted to the typical and foreseeable damage. Any further liability is excluded.


10
Miscellaneous: Final Provisions and Amendments to the Terms and Conditions of Use

10.1
 The law of the Federal Republic of Germany applies.

10.2
If you have no place of jurisdiction in Germany or in any other EU member state, if you have transferred your permanent domicile abroad after these Terms and Conditions of Use become effective or if your domicile or normal place of residence is unknown at the time legal action is brought, the sole place of jurisdiction all disputes arising from this agreement will be the location of our registered offices.

10.3
If individual provisions of these Terms and Conditions of Use are or become invalid and/or contrary to the provisions of the law, this will not affect the remaining Terms and Conditions of Use. The invalid provision will be replaced by the parties to the agreement by mutual agreement with a provision which comes as close as possible in law to the commercial purpose of the invalid provision. The abovementioned provision will apply correspondingly in the case of omissions in these provisions.

10.4
We reserve the right to amend and adapt these T&Cs with effect for the future. You can request the currently applicable version of the Terms and Conditions of Use via hello@kiipost.com or retrieve them at kiipost.com/terms-conditions. You will be notified no later than one month before the planned entry into force of the Terms and Conditions of Use by email. If you do not object to the validity of the new Terms and Conditions of Use within one month before they come into force, you will be deemed to have accepted the new Terms and Conditions of Use. We will inform you separately in suitable form about the significance of the one month's notice period, your right to object and the legal consequences of silence. This amendment mechanism does not apply to amendments to the parties' main contractual obligations.

