.terms {
    background: #fff;
}
.terms .header {
    padding: 0.8rem;
    background: #000;
}
.terms .header span {
    color: #fff;
    display: inline-block;
    cursor: pointer;
    font-size: 1.7rem;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.50);
}
.terms .content {
    padding: 4rem 1rem 1rem 1rem;
}
.terms pre {
    white-space: pre-line;
    font-family: inherit;
    line-height: 1.5;
}
