html {
    background: url('/content/images/background.png') no-repeat;
    background-size: cover;
    font-family: Ubuntu;
    -webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
    text-size-adjust: none; /* prevent webkit from resizing text to fit */
    user-select: none;
}
a  {
    color: #503c8d;
}
.truncate {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
