html {
    background: url('/content/images/background.png') no-repeat;
    background-size: cover;
    font-family: Ubuntu;
}
a  {
    color: #503c8d;
}
.truncate {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
