.signin .logo {
    background: url('/content/images/logo.svg') no-repeat center bottom;
}
.signin .slogan {
    text-align: center;
    padding-top: 1.5rem;
    color: #fff;
    font-size: 1.5rem;
}
.signin .button {
    text-align: center;
    color: rgba(255,255,255,0.7);
    font-size: 1.15rem;
    cursor: pointer;
}
.signin .terms {
    text-align: center;
}
.signin .terms span {
    color: rgba(255,255,255,0.7);
    font-size: 0.7rem;
}
