config.xml
www/*
platforms/ios/www
platforms/ios/Kiipost.xcodeproj/project.xcworkspace/xcuserdata
platforms/ios/build/device
platforms/ios/build/emulator
platforms/ios/build/Kiipost.build
platforms/ios/CordovaLib/build/CordovaLib.build
