.article {
    background: #fff;
    cursor: pointer;
}
.article .inner {
    height: 100%;
    border-bottom: 1px solid #979797;
    box-sizing: border-box;
}
.article .text {
    float: left;
    padding: 1rem 0.7rem 0 0.7rem;
    box-sizing: border-box;
    height: 100%;
}
.article .image {
    float: left;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.article h1 {
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.4;
    margin: 0 0 0.5rem 0;
    height: 3.8rem;
    overflow: hidden;
    color: #000;
}
.article p {
    font-size: 0.8rem;
    line-height: 1.4;
    margin: 0 0 0.5rem 0;
    height: 5.9rem;
    overflow: hidden;
    color: #bebebe;
}
.article a {
    display: block;
    font-size: 0.8rem;
    line-height: 1;
    text-decoration: none;
    color: #bebebe;
}
