.memo-edit {
    padding: 1rem;
}
.memo-edit .action-bar {
    background: #ededed;
    color: #503c8d;
}
.memo-edit .counter.error {
    color: red;
}
.memo-edit .submit,
.memo-edit .abort {
    padding: 0 .5em;
    line-height: 3;
    cursor: pointer;
}
.memo-edit .submit {
    right: 0;
}
.memo-edit .counter {
    right: 30%;
    color: #999;
    line-height: 3em;
}
.memo-edit .avatar span {
    display: inline-block;
    border-radius: 100%;
    width: 2.5em;
    height: 2.5em;
    background: url('/content/images/dummy-avatar.png') no-repeat;
    background-size: cover;
}
.memo-edit .memo {
    background: #fff;
    padding: 1em;
    box-sizing: border-box;
}
.memo-edit textarea {
    outline: none;
    border: none;
    font-size: 1em;
    resize: none;
}

