.spinner .box {
    width: 4rem;
    height: 4rem;
    border-radius: 10px;
    background-color: rgba(0,0,0,.5);
}
.spinner .icon {
    display: block;
    height: 100%;
    background: url('/src/components/spinner/images/spin.svg') no-repeat center;
    background-size: 50%;
}
