.article-top-btns {
    z-index: 1;
}
.article-top-btns span {
    color: #fff;
    padding: 1em;
    display: inline-block;
}
.article-top-btns .source {
    float: right;
}
.article-head h1 {
    font-size: 1.5em;
    height: 2.45em;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    margin: 0 0 0.5em 0.5em;
    color: #fff;
}
.article-text {
    background: #fff;
    color: #a3a3a3;
    padding: 1em;
    box-sizing: border-box;
    font-size: 1.1em;
    line-height: 1.4;
}
.article-kiipost-btn {
    border-radius: 100%;
    background: red;
    width: 3em;
    height: 3em;
    cursor: pointer;
    z-index: 1;
}
