.article-top-btns {
    z-index: 1;
}
.article-top-btns span {
    color: #fff;
    padding: 1rem;
    display: inline-block;
    cursor: pointer;
}
.article-top-btns .source {
    float: right;
}
.article-head h1 {
    font-size: 1rem;
    height: 2.45rem;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    margin: 0 0.5rem 0.5rem 0.5rem;
    color: #fff;
}
.article-text {
    background: #fff;
    color: #a3a3a3;
    padding: 1rem 1rem 5rem 1rem;
    box-sizing: border-box;
    font-size: 1.1rem;
    line-height: 1.4;
}
.article-kiipost-btn {
    width: 3.5rem;
    height: 3.5rem;
    cursor: pointer;
    z-index: 1;
    background: url('/content/images/logo.png') no-repeat center #000;
    background-size: 33%;
    border: 2px solid #CFCECE;
    border-radius: 100%;
}
