.header {
    padding: 1.25rem 1.25rem 0 1.25rem;
    color: #fff;
}
.header .logo {
    left: 0;
    top: 0;
    width: 2.2rem;
    height: 2.2rem;
    background: url('components/content/images/logo.svg') no-repeat;
    background-size: contain;
}
.header .avatar {
    width: 2.3rem;
    height: 2.3rem;
    right: 0;
    top: 0;
    border-radius: 100%;
    cursor: pointer;
    border: 2px solid #fff;
    background: url('components/content/images/dummy-avatar.png') no-repeat 0 50%;
    background-size: cover;
}
.header .title {
    font-size: 2rem;
    margin-top: 25%;
    text-align: center;
}
.header .menu {
    bottom: 0;
}
