.kiipost {
    z-index: 1;
}
.kiipost .action-bar {
    background: #ededed;
    color: #503c8d;
}
.kiipost .counter.error {
    color: red;
}
.kiipost .submit,
.kiipost .abort {
    padding: 0 .5em;
    line-height: 3;
    cursor: pointer;
}
.kiipost .submit {
    right: 0;
}
.kiipost .counter {
    right: 30%;
    color: #999;
    line-height: 3em;
}
.kiipost .avatar span {
    display: inline-block;
    border-radius: 100%;
    width: 2.5em;
    height: 2.5em;
    background: url('/content/images/dummy-avatar.png') no-repeat;
    background-size: cover;
}
.kiipost .memo {
    background: #fff;
    padding: 1em;
    box-sizing: border-box;
}
.kiipost textarea {
    outline: none;
    border: none;
    font-size: 1em;
    resize: none;
}

