.navi .indicator {
    position: relative;
    background: rgba(255, 255, 255, .5);
    height: 0.063rem;
}
.navi .indicator span {
    position: absolute;
    left: 0;
    width: 0;
    height: 100%;
    background: #fff;
}
.navi .item {
    display: inline-block;
    height: 100%;
    font-size: 1rem;
    line-height: 2.9rem;
    cursor: pointer;
    margin-right: 1.25rem;
    color: rgba(255, 255, 255, .5);
}
.navi .item.selected {
    color: #fff;
}
