.header {
    padding: 2.5rem 2.5rem 0 2.5rem;
    color: #fff;
}
.header .logo {
    left: 0;
    top: 0;
    width: 2rem;
    height: 2rem;
    background: url('/content/images/logo.svg') no-repeat;
    background-size: contain;
}
.header .avatar {
    right: 0;
    top: 0;
    border-radius: 100%;
    cursor: pointer;
    border: 2px solid #fff;
    background: url('/content/images/dummy-avatar.png') no-repeat 0 50%;
    background-size: cover;
}
.header .title {
    font-size: 2rem;
    margin-top: 20%;
    text-align: center;
}
.header .menu {
    bottom: 0;
}
