.article {
    background: #fff;
    cursor: pointer;
    border-bottom: 1px solid #979797;
    overflow: hidden;
}
.article .image {
    background: no-repeat center #f0f1f2;
    background-size: cover;
}
.article .title {
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.4;
    padding: 1rem 0.7rem 0 0.7rem;
    overflow: hidden;
    color: #000;
}
.article .summary {
    font-size: 0.8rem;
    line-height: 1.4;
    padding: 0 0.7rem;
    overflow: hidden;
    color: #bebebe;
}
.article .link {
    height: 1.5rem;
    padding: 0.3rem 0.7rem 0 0.7rem;
    font-size: 0.8rem;
    line-height: 1;
    text-decoration: none;
    color: #bebebe;
}
