.login-logo {
    background: url('/content/images/logo.png') no-repeat center;
}
.login-slogan {
    text-align: center;
    padding: 0 3em;
    color: #fff;
    line-height: 1.4;
}
.login-button {
    text-align: center;
    color: #fff;
    font-size: 1.3em;
    cursor: pointer;
}
.login-terms {
    text-align: center;
}
.login-terms span {
    color: #fff;
    opacity: 0.6;
    font-size: 0.7em;
}
