.menu {
}
.menu .indicator {
    position: relative;
    background: rgba(255, 255, 255, .5);
    height: 1px;
}
.menu .indicator span {
    position: absolute;
    left: 0;
    width: 0;
    height: 100%;
    background: #fff;
}
.menu .item {
    display: inline-block;
    height: 100%;
    line-height: 40px;
    cursor: pointer;
    margin-right: 15px;
    color: #fff;
    opacity: 0.7;
}
.menu .item.selected {
    opacity: 1;
}
