.spinner-container.has-box {
    border-radius: 10px;
    background-color: rgba(0,0,0,.5);
}
.spinner-container .spinner {
    font-size: 0;
}
.spinner-container .spinner .big {
    fill: #fff;
    opacity: 0.25;
}
.spinner-container .spinner .small {
    fill: #fff;
}

/* Green theme */
.spinner-container .green .big {
    fill: #000;
}
.spinner-container .green .small {
    fill: #4D8091;
}
