.spinner .box {
    border-radius: 10px;
    background-color: rgba(0,0,0,.5);
}
.spinner .icon .big {
    fill: #000;
    opacity: 0.25;
}
.spinner .icon .small {
    fill: #fff;
}

.spinner .icon.green .small {
    fill: #4D8091;
}
