.iScrollHorizontalScrollbar {
    position: absolute;
    z-index: 9999;
    height: 7px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    overflow: hidden;
}

.iScrollHorizontalScrollbar.iScrollBothScrollbars {
    right: 18px;
}

.iScrollVerticalScrollbar {
    position: absolute;
    z-index: 9999;
    width: 7px;
    bottom: 2px;
    top: 2px;
    right: 2px;
    overflow: hidden;
}
.mobile .iScrollVerticalScrollbar {
    width: 2px;
}
.iScrollVerticalScrollbar.iScrollBothScrollbars {
    bottom: 18px;
}

.iScrollIndicator {
    box-sizing: border-box;
    position: absolute;
    border-radius: 4px;
    background-color: rgba(0, 0 ,0, .5);
    border: 1px solid rgba(255, 255, 255, .3);
}

.iScrollHorizontalScrollbar .iScrollIndicator {
    height: 100%;
}

.iScrollVerticalScrollbar .iScrollIndicator {
    width: 100%;
}

