.full-article .background {
    background-color: #f0f1f2;
}
.full-article .top-btns {
    z-index: 1;
}
.full-article .top-btns span {
    color: #fff;
    padding: 1rem;
    display: inline-block;
    cursor: pointer;
}
.full-article .top-btns .close {
    font-size: 1.7rem;
    padding: 1rem 0.5rem;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.50);
}
.full-article .header {
    padding: 0;
}
.full-article .header h1 {
    font-size: 1.5rem;
    line-height: 2rem;
    max-height: 6.2rem;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    margin: 0 1rem 0.7rem 1rem;
    color: #fff;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.50);
}
.full-article .text {
    background: #fff;
    color: #bebebe;
    font-size: 1.2rem;
    line-height: 1.4;
}
.full-article .text .size-detector {
    box-sizing: border-box;
    padding: 1rem 1rem 5rem 1rem;
}
.full-article .text p {
    margin: 0;
}
.full-article .text a {
    text-decoration: none;
}
.full-article .text img {
    width: 100%;
}
.full-article .text a.source {
    display:  block;
    margin-bottom: 1rem;
}
.full-article .kiipost-btn {
    width: 3.75rem;
    height: 3.75rem;
    cursor: pointer;
    z-index: 1;
    background: url('components/content/images/logo.svg') no-repeat center #000;
    background-size: 33%;
    border: 3px solid #b4b4b4;
    border-radius: 100%;
}
