.full-article .background {
    background-color: #f0f1f2;
}
.full-article .header {
    color: #fff;
}
.full-article .header .close,
.full-article .header .original {
    font-size: 1.7rem;
    padding: 1rem 0.5rem;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.50);
}
.full-article .header .original {
    right: 0;
    font-size: 1.6rem;
    padding: 1rem;
}
.full-article .header .title {
    font-family: 'Ubuntu-M';
    font-size: 1.5rem;
    line-height: 2rem;
    max-height: 6rem;
    bottom: 0.7rem;
    padding: 0 1rem;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.50);
    text-align: left;
    overflow: hidden;
}
.full-article .body {
    font-family: 'Ubuntu-L';
    background: #fff;
    color: #000;
    font-size: 1rem;
    line-height: 1.4;
}
.full-article .body .text p {
    margin: 0;
}
.full-article .body .link,
.full-article .body .date {
    font-family: 'Ubuntu';
    color: #d2d2d2;
}
.full-article .body .date {
    text-align: right;
}
