.full-article .background {
    background-color: #f0f1f2;
}
.full-article .close,
.full-article .original {
    font-size: 1.7rem;
    padding: 1rem 0.5rem;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.50);
}
.full-article .original {
    right: 0;
    font-size: 1.6rem;
    padding: 1rem;
}
.full-article .header {
    padding: 0;
}
.full-article .title {
    font-family: 'Ubuntu-M';
    font-size: 1.5rem;
    line-height: 2rem;
    max-height: 6.2rem;
    bottom: 0;
    padding: 0 1rem 0.7rem 1rem;
    color: #fff;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.50);
    text-align: left;
}
.full-article .body {
    font-family: 'Ubuntu-L';
    background: #fff;
    color: #000;
    font-size: 1rem;
    line-height: 1.4;
}
.full-article .text p {
    margin: 0;
}
.full-article .link,
.full-article .date {
    font-family: 'Ubuntu';
    color: #d2d2d2;
}
.full-article .date {
    text-align: right;
}
