.new-full-article .kiipost-btn {
    color: #fff;
    background: #000;
    cursor: pointer;
    border: 3px solid #b4b4b4;
    border-radius: 100%;
    font-size: 2rem;
    line-height: 3.5rem;
    text-align: center;
    padding-left: 0.3rem;
}
