.new-full-article .kiipost-btn {
    width: 3.75rem;
    height: 3.75rem;
    cursor: pointer;
    z-index: 1;
    background: url('components/content/images/logo.svg') no-repeat center #000;
    background-size: 33%;
    border: 3px solid #b4b4b4;
    border-radius: 100%;
}
.new-full-article .text .content {
    padding-bottom: 5rem;
}
